<div id="particles" style="position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;">
  <div class="ui" style="position: fixed;bottom: 0.5em;right: 0.5em">
    <div id="page_load_time" class="ui text" style="text-align: center; font-size:0.5em;color: darkgray;"></div>
  </div>
</div>
<script>
  $('#particles').particleground({
    dotColor: '#ccccff',
    lineColor: '#f2e6ff',
    parallax:false,
    proximity:100,
    particleRadius:5
  });
</script>